{
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", "minify"],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
